In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier as rfc
from scipy.sparse import csr_matrix,hstack

D:\Anaconda3\lib\site-packages\sklearn\utils\fixes.py:64: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() instead
  if 'order' in inspect.getargspec(np.copy)[0]:

In [2]:
events = pd.read_csv('input/events.csv')
label = pd.read_csv('input/label_categories.csv')
app_event = pd.read_csv('input/app_events.csv')
app_label = pd.read_csv('input/app_labels.csv')
device = pd.read_csv('input/phone_brand_device_model.csv')
device = device.drop_duplicates('device_id').set_index('device_id')
gender_age_train = pd.read_csv('input/gender_age_train.csv',index_col = 'device_id')
gender_age_test = pd.read_csv('input/gender_age_test.csv',index_col = 'device_id')

For the convinience of creating sparse matrix, we create another integer index for the training and testing set.

In [3]:
gender_age_train['int_index'] = np.arange(gender_age_train.shape[0])
gender_age_test['int_index'] = np.arange(gender_age_test.shape[0])

In [4]:
print('gender_age_train\n',gender_age_train.head(1))
print('\ngender_age_test\n',gender_age_test.head(1))
print('\ndevice\n',device.head(1))
print('\nevents\n',events.head(1))
print('\nlabel\n',label.head(1))
print('\napp_event\n',app_event.head(1))
print('\napp_label\n',app_label.head(1))

gender_age_train
                      gender  age   group  int_index
device_id
-8076087639492063270      M   35  M32-38          0

gender_age_test
                      int_index
device_id
1002079943728939269          0

device
                      phone_brand device_model
device_id
-8890648629457979026          小米           红米

events
    event_id          device_id            timestamp  longitude  latitude
0         1  29182687948017175  2016-05-01 00:55:25     121.38     31.24

label
    label_id category
0         1      NaN

app_event
    event_id               app_id  is_installed  is_active
0         2  5927333115845830913             1          1

app_label
                 app_id  label_id
0  7324884708820027918       251

# Feature engineering I: phone brand

Encoding the phone brand, and feed this as a feature into the training and testing test.

In [5]:
encoder = LabelEncoder()
encoder.fit(device.phone_brand)
device['brand'] = encoder.transform(device.phone_brand)
gender_age_train['brand'] = device['brand']
gender_age_test['brand'] = device['brand']

Create sparse matrix with each row representing one device and each column representing one brand

In [6]:
X_train_brand = csr_matrix((np.ones(gender_age_train.shape[0]),(gender_age_train.int_index,gender_age_train.brand)))
X_test_brand = csr_matrix((np.ones(gender_age_test.shape[0]),(gender_age_test.int_index,gender_age_test.brand)))
print('X_train_brand shape:',X_train_brand.shape)
print('X_test_brand shape:',X_test_brand.shape)

X_train_brand shape: (74645, 131)
X_test_brand shape: (112071, 131)

# Feature engineering II: Installed app

Encoding the app_id and store it into app column, and feed this as a feature into the training and testing test.

In [16]:
encoder2 = LabelEncoder()
encoder2.fit(app_label.app_id)
app_event['app'] = encoder2.transform(app_event.app_id)

In [17]:
app_event.head()

   event_id               app_id  is_installed  is_active     app
0         2  5927333115845830913             1          1   91064
1         2 -5720078949152207372             1          0   20205
2         2 -1633887856876571208             1          0   44218
3         2  -653184325010919369             1          1   50889
4         2  8693964245073640147             1          1  110157

In [18]:
print(app_event.head(1))
print(events.head(1))

   event_id               app_id  is_installed  is_active    app
0         2  5927333115845830913             1          1  91064
   event_id          device_id            timestamp  longitude  latitude
0         1  29182687948017175  2016-05-01 00:55:25     121.38     31.24

In [19]:
installed_app = pd.merge(events[['event_id','device_id']],app_event[['event_id','app','is_installed']])

In [20]:
installed_app_train = pd.merge(installed_app,gender_age_train[['int_index']],right_index=True,left_on = 'device_id')
installed_app_test = pd.merge(installed_app,gender_age_test[['int_index']],right_index=True,left_on = 'device_id')

In [21]:
print(installed_app_train.head())
print(installed_app_test.head())

    event_id            device_id    app  is_installed  int_index
19         6  1476664663289716375  10413             1      51154
20         6  1476664663289716375  93433             1      51154
21         6  1476664663289716375  91064             1      51154
22         6  1476664663289716375  77172             1      51154
23         6  1476664663289716375  33499             1      51154
   event_id            device_id     app  is_installed  int_index
0         2 -6401643145415154744   91064             1      68691
1         2 -6401643145415154744   20205             1      68691
2         2 -6401643145415154744   44218             1      68691
3         2 -6401643145415154744   50889             1      68691
4         2 -6401643145415154744  110157             1      68691

In [23]:
X_train_installed = csr_matrix((installed_app_train.is_installed,(installed_app_train.int_index,installed_app_train.app)))
X_test_installed = csr_matrix((installed_app_test.is_installed,(installed_app_test.int_index,installed_app_test.app)))
print('X_train_brand shape:',X_train_installed.shape)
print('X_test_brand shape:',X_test_installed.shape)

X_train_brand shape: (74645, 113207)
X_test_brand shape: (112064, 113207)

# Feature engineering III: installed app label

In [53]:
app_event_new = pd.merge(app_event,app_label)

In [54]:
app_event_new = app_event_new.drop(['app_id'],axis=1)

In [58]:
app_event.groupby('app_id').count()

                      event_id  is_installed  is_active
app_id
-9221156934682287334        21            21         21
-9220899153371182692        25            25         25
-9218487885271516150         2             2          2
-9218487885267037129         6             6          6
-9218310540360546691        38            38         38
-9217104312935103667        38            38         38
-9216716044975227433      1777          1777       1777
-9216547119863430601       352           352        352
-9216245512488580977       113           113        113
-9215708428016154392        14            14         14
-9215674982339481470       268           268        268
-9215398457488576133         8             8          8
-9214675853607587505         3             3          3
-9214675853607570335        70            70         70
-9213348461051909647         6             6          6
-9210372544235257540        45            45         45
-9208478416072339609         2             2          2
-9208020732558900907      5192          5192       5192
-9206009418506233246         4             4          4
-9204939934163107741       120           120        120
-9203112368544435271        60            60         60
-9201869592061622141        34            34         34
-9199793145313694320         2             2          2
-9198959992801690764       305           305        305
-9198654150634969665      2709          2709       2709
-9193001388032761039       276           276        276
-9192640465934207713       853           853        853
-9192350788754343756        33            33         33
-9192350788745385851        32            32         32
-9192350788455346872      1397          1397       1397
...                        ...           ...        ...
 9202013003493604867         7             7          7
 9203490427769556618        12            12         12
 9204453858293451002        37            37         37
 9204646306216741496         6             6          6
 9206707661414272001       221           221        221
 9206891074146686332       124           124        124
 9208471355518556004       103           103        103
 9211367322774741072         6             6          6
 9211954271534258460       656           656        656
 9212661076525577612         8             8          8
 9212661076547991325        93            93         93
 9212661076561479863      3345          3345       3345
 9212661076568225198         2             2          2
 9212711158326654461      1473          1473       1473
 9213694769987089976         2             2          2
 9214222817321665379         3             3          3
 9214447751321085773         7             7          7
 9214703919715811114        57            57         57
 9217386935599579042        55            55         55
 9217900330594453533        21            21         21
 9219081321001459125         3             3          3
 9220205176760015004     23815         23815      23815
 9220205219783929990         8             8          8
 9220581914111522882         4             4          4
 9220582377071973188        19            19         19
 9220582377072041832        92            92         92
 9221699163844714144         1             1          1
 9222011580033376138        20            20         20
 9222072904806798865        72            72         72
 9222488106573038706       155           155        155

[19237 rows x 3 columns]

In [59]:
app_event_new.head(1)

   event_id  is_installed  is_active  label_id
0         2             1          1       549

In [ ]:
print(events.loc[events.device_id==1186608308763918427,:].event_id.count())
device.loc[:,'phone_brand'].unique()

In [67]:
app_event.loc[app_event.event_id==2,:]

    event_id               app_id  is_installed  is_active
0          2  5927333115845830913             1          1
1          2 -5720078949152207372             1          0
2          2 -1633887856876571208             1          0
3          2  -653184325010919369             1          1
4          2  8693964245073640147             1          1
5          2  4775896950989639373             1          1
6          2 -8022267440849930066             1          0
7          2  9112463267739110219             1          0
8          2 -3725672010020973973             1          0
9          2  7167114343576723123             1          1
10         2   487766649788038994             1          0
11         2  7460082553072507347             1          0
12         2   628020936226491308             1          0
13         2   701031210314548601             1          0
14         2 -1758857579862594461             1          0
15         2  4348659952760821294             1          0
16         2 -8942695423876075857             1          0
17         2  5497109940653330488             1          1
18         2  3717049149426646122             1          0

                app_id  label_id
0  7324884708820027918       251
1 -4494216993218550286       251
2  6058196446775239644       406

In [53]:
label.head(3)

   label_id          category
0         1               NaN
1         2    game-game type
2         3  game-Game themes